[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "simex"]
	path = simex
	url = https://github.com/wolfganglederer/simex
	shallow = true
	registered = true
